body{
    width: 1000px;
    background-color: rgb(245, 243, 243);
    margin-left: auto;
    margin-right: auto;
}
header{
    display: flex;
    padding-left: 10px;
}
nav#navi{
    margin-top: 62px;
    margin-left: 200px;
}
nav a{
    color: gray;
    text-decoration: none;
    margin-left: 30px;
}
nav a:hover{
    color: black;
    font-weight: bolder;
}
#ban{
    background: no-repeat url(../images/header-bg.jpg);
    width: 960px;
    height: 447px;
    padding-left: 500px;
    padding-top: 25px;
}
#ban h1{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3.25em;
}
#ban h2{
    color: rgb(180, 190, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
    margin-top: -35px;

}
#bani{
    display: flex;
    flex-direction: column;
    width: 358px;
    height: 250px;
}
#button{
    width: 150px;
    height: 42px;
    margin-left: 209px;
}
#cont1{
    margin-top: -150px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;

}
#col1{
    width: 250px;
}
h3.our{
    border-bottom: gray solid 1px;
}
p.gray{
    color: gray;
}
span a{
    color: rgb(11, 214, 11);
    text-decoration: underline;
}
.img{
    float: left;
    height: 60px;
    margin-right: 15px;
    width: 23px;
    
}
p.gray{
    margin-top: -20px;
}
#col1{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
h4{
    margin-top: -0.5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
}
p.green{
    color: rgb(105, 170, 6);
}
#col2{
    width: 700px;
}
article{
    margin-top: 40px;
    margin-bottom: 40px;
}
article img{
    float: left;
    margin-right: 20px;
}
p.gray a{
    color: greenyellow;
}
#read{
    margin-top: 50px;
}
#b, #c, #d, #e{
    margin-top: -15px;
}
#our{
    margin-bottom: 40px;
}
#co{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
#cont2{
    background-color: rgb(228, 227, 227);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}
section{
    padding-left: 20px;
    padding-right: 20px;
}
h3{
    color: rgb(32, 32, 32);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
}
#rec{
    margin-left: 20px;
}
#prev{
    height: 320px;
    padding-top: 100px;
}

.gr{
    color: rgb(180, 190, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#co1{
    width: 240px;
}
#co1, #co2, #co3{
    margin-left: px;
    width: 245px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 10px;
    background-color: rgb(77, 134, 5);
    margin-right: 28px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.white{
    color: white;
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25em;
}
#con{
    display: flex;
}
#co2{
    width: 240px;
    margin-right: 27.2px;
}
#co1{
    width: 239.3px;
}
#co3{
    width: 241px;
}
article p.gray{
    margin-left: 20px;
}